<nav class="subnav">
  <a href="/admin" class="pill">Dashboard</a>
  <a href="/admin/productos" class="pill">Productos</a>
  <a href="/admin/procesos" class="pill">Ventas</a>
  <a href="/admin/reportes" class="pill">Reportes</a>
</nav>
