<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 — Vinyllector</title>
  <%- include('partials/assets_head') %>

</head>

<body>
  <%- include('partials/navbar') %>
    <main class="container card">
      <h1>404</h1>
      <p>Ruta no encontrada.</p>
    </main>
    <%- include('partials/footer') %>
      <%- include('partials/assets_foot') %>
</body>

</html>