<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sobre Vinyllector</title>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <%- include('partials/navbar') %>
  <main class="container card">
    <h1>Sobre Vinyllector</h1>
    <p class="muted">Tienda demo de vinilos, tornamesas y accesorios.</p>
  </main>
  <%- include('partials/footer') %>
  <script src="/js/main.js"></script>
</body>
</html>
